<a href="https://colab.research.google.com/github/s9611890/computation/blob/master/week7_A108260019_%E5%BB%96%E6%80%9D%E5%8B%B3_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
player = "Ron Harper"
player_list = ["Ron Harper", "Michael Jordan", "Scottie Pippen", "Dennis Rodman", "Luc Longley"]
player_tuple = tuple(player_list)
player_dict = {
 "PG": "Ron Harper",
 "SG": "Michael Jordan",
 "SF": "Scottie Pippen",
 "PF": "Dennis Rodman",
 "C": "Luc Longley"
}
player_set = set(player_list)
print(type(player))
print(type(player_list))
print(type(player_tuple))
print(type(player_dict))
print(type(player_set))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

In [2]:
s1 = '春眠不覺曉，處處聞啼鳥。'
print(s1)
s2 = "夜來風雨聲，花落知多少。"
print(s2)
s3 = '作者"孟浩然" 詩名"春曉"'
print(s3)
s4 = "作者'孟浩然' 詩名'春曉'"
print(s4)
s5 = ''' 春眠不覺曉，處處聞啼鳥。
 夜來風雨聲，花落知多少。
 作者"孟浩然" 詩名"春曉"
'''
print(s5)

春眠不覺曉，處處聞啼鳥。
夜來風雨聲，花落知多少。
作者"孟浩然" 詩名"春曉"
作者'孟浩然' 詩名'春曉'
 春眠不覺曉，處處聞啼鳥。
 夜來風雨聲，花落知多少。
 作者"孟浩然" 詩名"春曉"

In [3]:
s1 ="123"
s2 = "456"
s3 = s1 + s2 
print(s3)
s4 = s1 * 2 
print(s4)
s5 = '春眠不覺曉，處處聞啼鳥。\n\
夜來風雨聲，花落知多少。\n\
\t作者"孟浩然" 詩名"春曉"'
print(s5)

123456
123123
春眠不覺曉，處處聞啼鳥。
夜來風雨聲，花落知多少。
	作者"孟浩然" 詩名"春曉"

In [4]:
s = '123456789'
print(s[0])
print(s[1])
print(s[-1])
print(s[-2])
s = '0123456789'
print('s=', s)
print('s[0]=', s[0])
print('s[1]=', s[1])
print('s[-1]=', s[-1])
print('s[-2]=', s[-2])

1
2
9
8
s= 0123456789
s[0]= 0
s[1]= 1
s[-1]= 9
s[-2]= 8

In [5]:
print('s=', s, 's[:]=', s[:]) 
print('s=', s, 's[5:]=', s[5:]) 
print('s=', s, 's[-2:]=', s[-2:])
print('s=', s, 's[:5]=', s[:5]) 
print('s=', s, 's[:-2]=', s[:-2])
print('s=', s, 's[7:9]=', s[7:9])
print('s=', s, 's[-4:-1]=', s[-4:-1])
print('s=', s, 's[5:-2]=', s[5:-2])
print('s=', s, 's[2:10:2]=', s[2:10:2])
print('s=', s, 's[::-1]=', s[::-1])
print('s=', s, 's[-1::-1]=', s[-1::-1])

s= 0123456789 s[:]= 0123456789
s= 0123456789 s[5:]= 56789
s= 0123456789 s[-2:]= 89
s= 0123456789 s[:5]= 01234
s= 0123456789 s[:-2]= 01234567
s= 0123456789 s[7:9]= 78
s= 0123456789 s[-4:-1]= 678
s= 0123456789 s[5:-2]= 567
s= 0123456789 s[2:10:2]= 2468
s= 0123456789 s[::-1]= 9876543210
s= 0123456789 s[-1::-1]= 9876543210

In [6]:
s = '春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(len(s))
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
list1=s1.split('，') 
print(list1)
list1 = ['春眠不覺曉','處處聞啼鳥','夜來風雨聲','花落知多少。']
s2='，'.join(list1) 
print(s2)

24
['春眠不覺曉', '處處聞啼鳥', '夜來風雨聲', '花落知多少。']
春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [7]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(s1.find('花落'))
print(s1.count('處')) 
s3=s1.replace('春','冬') 
print(s3)

18
2
冬眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。

In [8]:
s1='An apple a day.'
print(s1.capitalize())
print(s1.title())
print(s1.swapcase())
print(s1.upper())
print(s1.lower())

An apple a day.
An Apple A Day.
aN APPLE A DAY.
AN APPLE A DAY.
an apple a day.

In [9]:
s1='春眠不覺曉，處處聞啼鳥，夜來風雨聲，花落知多少。'
print(s1.startswith('春眠'))
print(s1.endswith('多少。'))
s1='春眠不覺曉'
print(s1.center(10))
print(s1.rjust(10))
print(s1.ljust(10))
s1='123'
print(s1.zfill(5))
s1=' Hello,Mary. '
print(s1.strip())
print(s1.lstrip(' H'))
print(s1.rstrip(' .'))

True
True
  春眠不覺曉
     春眠不覺曉
春眠不覺曉
00123
Hello,Mary.
ello,Mary.
 Hello,Mary

In [10]:
t1 = ()
print(t1)
t2 = 1, 2 ,3 
print(t2)
t3 = (1, 2, 3) 
print(t3)
list1=[1,2,3,4] 
t4 = tuple(list1)
print(t4)
t4 = (1,2,3,4) 
t5 = (t4,5,6)
print(t5)
t6 = ('z', )
print(t6)

()
(1, 2, 3)
(1, 2, 3)
(1, 2, 3, 4)
((1, 2, 3, 4), 5, 6)
('z',)

In [12]:
t3 = (1, 2, 3)
print(t3[0]) 
t4 = (1,2,3,4)
t5 = (t4,5,6)
print(len(t5))
print(t5[0][0])

1
3
1

In [13]:
t3 = (1, 2, 3)
a, b, c = t3
print('a =', a, ',b =', b, ',c =', c)
a = 10
b = 20
print('交換前','a =', a, ',b =', b)
a, b = b, a
print('交換後','a =', a, ',b =', b)

a = 1 ,b = 2 ,c = 3
交換前 a = 10 ,b = 20
交換後 a = 20 ,b = 10

In [14]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist為')
print(shoplist)
listm = [1, 2.0, 'Python']
print("串列可以包含各種資料型別的元素")
print(listm)
list1 = list('python')
print(list1) 
tuple2 = ('a', 'b', 1, 2)
list2 = list(tuple2)
print(list2)

購物清單shoplist為
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
串列可以包含各種資料型別的元素
[1, 2.0, 'Python']
['p', 'y', 't', 'h', 'o', 'n']
['a', 'b', 1, 2]

In [15]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('購物清單shoplist的長度為', len(shoplist))

shoplist1 = ['牛奶', '蛋', '咖啡豆']
shoplist2 = ['西瓜', '鳳梨']
shoplist_all = shoplist1 + shoplist2 
print(shoplist_all)

購物清單shoplist的長度為 5
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']

In [16]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
print('顯示shoplist[0]為',shoplist[0])
index=shoplist.index('咖啡豆')
print("執行 index=shoplist.index('咖啡豆') 後")
print('index=', index)
shoplist[1] = '皮蛋'
print("執行 shoplist[1] = '皮蛋' 後")
print(shoplist)
a = list('abcdefghijk')
print('a[:]為', a[:])
print('a[:5]為', a[:5])
print('a[5:]為', a[5:])
print('a[:-5]為', a[:-5])
print('a[-5:]為', a[-5:])
print('a[0:4]為', a[0:4])
print('a[-5:-3]為', a[-5:-3])
print('a[1:10:3]為', a[1:10:3])
print('a[-1:-4:-1]為', a[-1:-4:-1])
print('a[::-1]為', a[::-1])
shoplist = ['milk', 'egg', 'coffee', 'watermelon']
for item in shoplist:
 print(item)

顯示shoplist[0]為 牛奶
執行 index=shoplist.index('咖啡豆') 後
index= 2
執行 shoplist[1] = '皮蛋' 後
['牛奶', '皮蛋', '咖啡豆', '西瓜', '鳳梨']
a[:]為 ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
a[:5]為 ['a', 'b', 'c', 'd', 'e']
a[5:]為 ['f', 'g', 'h', 'i', 'j', 'k']
a[:-5]為 ['a', 'b', 'c', 'd', 'e', 'f']
a[-5:]為 ['g', 'h', 'i', 'j', 'k']
a[0:4]為 ['a', 'b', 'c', 'd']
a[-5:-3]為 ['g', 'h']
a[1:10:3]為 ['b', 'e', 'h']
a[-1:-4:-1]為 ['k', 'j', 'i']
a[::-1]為 ['k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
milk
egg
coffee
watermelon

In [17]:
shoplist = ['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨']
shoplist.append('麵包')
print("執行 shoplist.append('麵包')後")
print(shoplist)
shoplist.insert(4, '蘋果')
print("執行 shoplist.insert(4, '蘋果') 後")
print(shoplist)
shoplist.remove('蛋') 
print("執行 shoplist.remove('蛋') 後")
print(shoplist)
del shoplist[0] 
print("執行 del shoplist[0] 後")
print(shoplist)
shoplist.pop(0)
print("執行 shoplist.pop(0) 後")
print(shoplist)
shoplist.pop() 
print("執行 shoplist.pop() 後")
print(shoplist)
shoplist.pop(-1)
print("執行 shoplist.pop(-1) 後")
print(shoplist)
shoplist = ['milk', 'egg', 'coffee', 'watermelon']
shoplist.sort() 
print("執行 shoplist.sort() 後")
print(shoplist)

執行 shoplist.append('麵包')後
['牛奶', '蛋', '咖啡豆', '西瓜', '鳳梨', '麵包']
執行 shoplist.insert(4, '蘋果') 後
['牛奶', '蛋', '咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.remove('蛋') 後
['牛奶', '咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 del shoplist[0] 後
['咖啡豆', '西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.pop(0) 後
['西瓜', '蘋果', '鳳梨', '麵包']
執行 shoplist.pop() 後
['西瓜', '蘋果', '鳳梨']
執行 shoplist.pop(-1) 後
['西瓜', '蘋果']
執行 shoplist.sort() 後
['coffee', 'egg', 'milk', 'watermelon']

In [18]:
list1 = [1, 2, 3, 4]
list2 = list1
print('list1=', list1)
print('list2=', list2)
list1[2]=19
print('list1=', list1)
print('list2=', list2)
list2[2]=18
print('list1=', list1)
print('list2=', list2)
list1 = [1, 2, 3, 4]
list3 = list1[:]
list3[2] = 19
print('list1=', list1)
print('list3=', list3)
list4 = list1.copy()
list4[2] = 19
print('list1=', list1)
print('list4=', list4)

list1= [1, 2, 3, 4]
list2= [1, 2, 3, 4]
list1= [1, 2, 19, 4]
list2= [1, 2, 19, 4]
list1= [1, 2, 18, 4]
list2= [1, 2, 18, 4]
list1= [1, 2, 3, 4]
list3= [1, 2, 19, 4]
list1= [1, 2, 3, 4]
list4= [1, 2, 19, 4]

In [19]:
season = "1995-1996"
team = "Chicago Bulls"
coach = "Phil Jackson"
won_championship = True

records = [72, 10]
starting_lineup = ["Ron Harper", "Michael Jordan", "Scottie Pippen", "Dennis Rodman",
"Luc Longley"]

best_chicago_bulls = [season, team, coach, won_championship, records, starting_lineup]
print(best_chicago_bulls)
print(type(best_chicago_bulls))

print(len(best_chicago_bulls))

print(best_chicago_bulls[0])
print(best_chicago_bulls[1])
print(best_chicago_bulls[2])
print(best_chicago_bulls[3])
print(best_chicago_bulls[4])
print(best_chicago_bulls[5])

print(best_chicago_bulls[-1])
print(best_chicago_bulls[-2])
print(best_chicago_bulls[-3])
print(best_chicago_bulls[-4])
print(best_chicago_bulls[-5])
print(best_chicago_bulls[-6])

print(best_chicago_bulls[0:3])
print(best_chicago_bulls[::2])
print(best_chicago_bulls[::-1])

best_chicago_bulls[5].append("Toni Kukoc")
print(best_chicago_bulls[5])

best_chicago_bulls[5].insert(6, "Toni Kukoc")
print(best_chicago_bulls[5])

center = best_chicago_bulls[5].pop()
print(center)
print(best_chicago_bulls[5])

best_chicago_bulls = [season, team, coach, won_championship, records, starting_lineup]
del best_chicago_bulls[5][0]
print(best_chicago_bulls[5])

best_chicago_bulls = [season, team, coach, won_championship, records, starting_lineup]

best_chicago_bulls[4].sort()
print(best_chicago_bulls[4])

best_chicago_bulls[4].sort(reverse=True)
print(best_chicago_bulls[4])

best_chicago_bulls[5].sort()
print(best_chicago_bulls[5])

best_chicago_bulls[5].sort(reverse=True)
print(best_chicago_bulls[5])

['1995-1996', 'Chicago Bulls', 'Phil Jackson', True, [72, 10], ['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley']]
<class 'list'>
6
1995-1996
Chicago Bulls
Phil Jackson
True
[72, 10]
['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley']
['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley']
[72, 10]
True
Phil Jackson
Chicago Bulls
1995-1996
['1995-1996', 'Chicago Bulls', 'Phil Jackson']
['1995-1996', 'Phil Jackson', [72, 10]]
[['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley'], [72, 10], True, 'Phil Jackson', 'Chicago Bulls', '1995-1996']
['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley', 'Toni Kukoc']
['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley', 'Toni Kukoc', 'Toni Kukoc']
Toni Kukoc
['Ron Harper', 'Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley', 'Toni Kukoc']
['Michael Jordan', 'Scottie Pippen', 'Dennis Rodman', 'Luc Longley', 'Toni Kukoc']
[10, 72]
[72, 10]
['Dennis Rodman', 'Luc Longley', 'Michael Jordan', 'Scottie Pippen', 'Toni Kukoc']
['Toni Kukoc', 'Scottie Pippen', 'Michael Jordan', 'Luc Longley', 'Dennis Rodman']

In [20]:
dict1={}
print(dict1)
lang={'早安':'Good Morning', '你好':'Hello'}
print(lang)

a=[['早安','Good Morning'],['你好','Hello']] 
dict1 = dict(a)
print(dict1)
b=[('早安','Good Morning'),('你好','Hello')] 
dict2 = dict(b)
print(dict2)
c=(['早安','Good Morning'],['你好','Hello']) 
dict3 = dict(c)
print(dict3)
d=(('早安','Good Morning'),('你好','Hello')) 
dict4 = dict(d)
print(dict4)

{}
{'早安': 'Good Morning', '你好': 'Hello'}
{'早安': 'Good Morning', '你好': 'Hello'}
{'早安': 'Good Morning', '你好': 'Hello'}
{'早安': 'Good Morning', '你好': 'Hello'}
{'早安': 'Good Morning', '你好': 'Hello'}

In [21]:
lang={'早安':'Good Morning', '你好':'Hello'}
print('「你好」的英文為',lang['你好'])
print('「你好」的英文為',lang.get('你好'))
print('「你好嗎」的英文為',lang.get('你好嗎'))
print('「你好嗎」的英文為',lang.get('你好嗎','不在字典內'))

「你好」的英文為 Hello
「你好」的英文為 Hello
「你好嗎」的英文為 None
「你好嗎」的英文為 不在字典內

In [22]:
lang={'早安':'Good Morning', '你好':'Hello'}
lang['你好']='Hi'
print(lang)
lang['學生']='Student'
print(lang)
del lang['早安']
print(lang)
lang.clear()
print(lang)

{'早安': 'Good Morning', '你好': 'Hi'}
{'早安': 'Good Morning', '你好': 'Hi', '學生': 'Student'}
{'你好': 'Hi', '學生': 'Student'}
{}

In [23]:
lang1={'你好':'Hello'}
lang2={'學生':'Student'}
lang1.update(lang2)
print(lang1)
lang1={'早安':'Good Morning','你好':'Hello'}
lang2={'你好':'Hi'}
lang1.update(lang2)
print(lang1)
lang1={'早安':'Good Morning','你好':'Hello'}
lang2 = lang1
lang2['你好']='Hi'
print('lang1為', lang1)
print('lang2為', lang2)
lang3 = lang1.copy()
lang3['你好']='Hi'
print('lang1為', lang1)
print('lang3為', lang3)
lang={'早安':'Good Morning','你好':'Hello'}
for ch, en in lang.items():
 print('中文為', ch, '英文為', en)
for ch in lang.keys():
 print(ch,lang[ch])
for en in lang.values():
 print(en)

{'你好': 'Hello', '學生': 'Student'}
{'早安': 'Good Morning', '你好': 'Hi'}
lang1為 {'早安': 'Good Morning', '你好': 'Hi'}
lang2為 {'早安': 'Good Morning', '你好': 'Hi'}
lang1為 {'早安': 'Good Morning', '你好': 'Hi'}
lang3為 {'早安': 'Good Morning', '你好': 'Hi'}
中文為 早安 英文為 Good Morning
中文為 你好 英文為 Hello
早安 Good Morning
你好 Hello
Good Morning
Hello

In [24]:
s = {1,2,3,4}
print(s)
s = set(('a',1,'b',2))
print(s) 
s = set(['apple', 'banana', 'apple'])
print(s) 
s = set({'早安':'Good Morning', '你好':'Hello'})
print(s)
s = set('racecar')
print(s) 
s = set('tiger')
print(s)
s.add('z')
print(s)
s.remove('t')
print(s)

{1, 2, 3, 4}
{'a', 1, 'b', 2}
{'apple', 'banana'}
{'你好', '早安'}
{'a', 'c', 'r', 'e'}
{'g', 't', 'e', 'i', 'r'}
{'g', 't', 'e', 'i', 'z', 'r'}
{'g', 'e', 'i', 'z', 'r'}

In [26]:
a = set('tiger')
b = set('bear')
print(a)
print(b)
print(a | b) 
print(a & b) 
print(a - b)
print(a ^ b) 
a = set('tiger')
b = set('tigers')
print(a<=b)
a = set('tiger')
b = set('tigers')
print(a<b)
a = set('tiger')
b = set('tigers')
print(a>=b)
a = set('tiger')
b = set('tigers')
print(a>b)

{'g', 't', 'e', 'i', 'r'}
{'a', 'r', 'b', 'e'}
{'i', 'r', 'g', 't', 'b', 'a', 'e'}
{'r', 'e'}
{'g', 't', 'i'}
{'a', 'g', 't', 'i', 'b'}
True
True
False
False